# Relax Inc. User Engagement Data Analysis

### Data

The data is available as two attached CSV files:
* takehome_user_engagement.csv
* takehome_users.csv

The data has the following two tables:
1. A user table ( "takehome_users" ) with data on 12,000 users who signed up for the product in the last two years. This table includes:
 * name: the user's name
 * object_id: the user's id
 * email: email address
 * creation_source: how their account was created. This takes on one of 5 values:
    * PERSONAL_PROJECTS: invited to join another user's personal workspace
    * GUEST_INVITE: invited to an organization as a guest (limited permissions)
    * ORG_INVITE: invited to an organization (as a full member)
    * SIGNUP: signed up via the website
    * SIGNUP_GOOGLE_AUTH: signed up using Google Authentication (using a Google email account for their login id)
 * creation_time: when they created their account
 * last_session_creation_time: unix timestamp of last login
 * opted_in_to_mailing_list: whether they have opted into receiving marketing emails
 * enabled_for_marketing_drip: whether they are on the regular marketing email drip
 * org_id: the organization (group of users) they belong to
 * invited_by_user_id: which user invited them to join (if applicable).
2. A usage summary table ( "takehome_user_engagement" ) that has a row for each day that a user logged into the product.

### Goal
Defining an "adopted user" as a user who has logged into the product on three separate days in at least one sevenday period, identify which factors predict future user adoption.

## Import Packages

In [1]:
from glob import glob
import pandas as pd
import numpy as np
from sklearn import preprocessing

try:
    import cPickle as pickle
except ImportError:  # python 3.x
    import pickle

import matplotlib.pyplot as plt
import seaborn as sns

sns.set()
sns.set_style("whitegrid")
palette = sns.diverging_palette(220, 20, sep = 20, n = 150)
sns.set_palette(palette)

## Load Data

In [2]:
# Check csv files
data_dir = 'Data/*.csv'
! ls {data_dir}

Data/takehome_user_engagement.csv Data/takehome_users.csv

In [3]:
df_users = pd.read_csv('Data/takehome_users.csv', encoding = "ISO-8859-1")
df_users.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0

In [4]:
df_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 10 columns):
object_id                     12000 non-null int64
creation_time                 12000 non-null object
name                          12000 non-null object
email                         12000 non-null object
creation_source               12000 non-null object
last_session_creation_time    8823 non-null float64
opted_in_to_mailing_list      12000 non-null int64
enabled_for_marketing_drip    12000 non-null int64
org_id                        12000 non-null int64
invited_by_user_id            6417 non-null float64
dtypes: float64(2), int64(4), object(4)
memory usage: 937.6+ KB

In [5]:
df_engage = pd.read_csv('Data/takehome_user_engagement.csv', encoding = "ISO-8859-1", parse_dates = ['time_stamp'])
df_engage.head()

           time_stamp  user_id  visited
0 2014-04-22 03:53:30        1        1
1 2013-11-15 03:45:04        2        1
2 2013-11-29 03:45:04        2        1
3 2013-12-09 03:45:04        2        1
4 2013-12-25 03:45:04        2        1

In [6]:
df_engage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207917 entries, 0 to 207916
Data columns (total 3 columns):
time_stamp    207917 non-null datetime64[ns]
user_id       207917 non-null int64
visited       207917 non-null int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 4.8 MB

## Define Adopted Users

Defining an "adopted user" as a user who has logged into the product on three separate days in at least one sevenday period, identify which factors predict future user adoption.

In [7]:
users = set(df_engage['user_id'])
adopted_user = []

for i, user in enumerate(users):
    df_user = df_engage[df_engage.user_id == user]
    df_user = df_user[['time_stamp', 'user_id']]
    df_user['time_stamp'] = pd.to_datetime(df_user['time_stamp'])
    df_user = df_user.drop_duplicates()
    df_user = df_user.set_index('time_stamp')
    df_user['at_least_3_days_over_7_days_period'] = df_user.rolling(window = '7D').count()
    
    if max(df_user['at_least_3_days_over_7_days_period']) >= 3:
        adopted_user.append(user)
        
print(adopted_user)

[2, 10, 20, 33, 42, 43, 50, 53, 63, 69, 74, 80, 81, 82, 87, 133, 135, 141, 146, 153, 160, 165, 168, 172, 174, 185, 188, 197, 200, 202, 203, 209, 214, 230, 245, 247, 263, 265, 275, 280, 283, 297, 298, 305, 310, 311, 321, 322, 341, 347, 351, 363, 370, 383, 397, 401, 418, 430, 445, 450, 460, 462, 469, 471, 472, 479, 483, 492, 494, 497, 502, 506, 509, 510, 512, 518, 522, 529, 535, 540, 547, 553, 564, 572, 589, 591, 601, 603, 605, 618, 627, 628, 632, 634, 639, 669, 679, 680, 724, 725, 728, 754, 772, 783, 786, 804, 828, 845, 851, 869, 874, 882, 885, 901, 906, 907, 912, 928, 932, 934, 937, 943, 953, 980, 985, 1007, 1009, 1013, 1017, 1018, 1026, 1027, 1035, 1055, 1061, 1072, 1089, 1093, 1094, 1099, 1106, 1107, 1119, 1123, 1124, 1128, 1129, 1136, 1145, 1150, 1151, 1155, 1156, 1163, 1173, 1186, 1196, 1202, 1214, 1222, 1233, 1235, 1238, 1242, 1245, 1250, 1274, 1280, 1290, 1303, 1318, 1319, 1320, 1327, 1339, 1343, 1345, 1350, 1357, 1361, 1368, 1379, 1396, 1407, 1410, 1411, 1421, 1434, 1464, 1472, 1476, 1479, 1480, 1481, 1485, 1506, 1507, 1508, 1525, 1546, 1555, 1561, 1576, 1581, 1592, 1598, 1617, 1624, 1641, 1663, 1665, 1671, 1672, 1681, 1690, 1693, 1694, 1709, 1714, 1716, 1717, 1722, 1726, 1730, 1740, 1754, 1758, 1759, 1769, 1770, 1781, 1783, 1786, 1811, 1816, 1820, 1821, 1822, 1825, 1836, 1845, 1865, 1872, 1879, 1885, 1897, 1907, 1930, 1941, 1944, 1954, 1974, 1993, 2002, 2009, 2011, 2013, 2025, 2033, 2037, 2038, 2042, 2043, 2049, 2056, 2073, 2074, 2078, 2080, 2103, 2111, 2112, 2113, 2124, 2129, 2159, 2160, 2171, 2193, 2199, 2201, 2239, 2241, 2246, 2253, 2270, 2271, 2278, 2282, 2286, 2289, 2290, 2297, 2300, 2307, 2312, 2316, 2322, 2324, 2333, 2337, 2339, 2357, 2361, 2390, 2399, 2400, 2406, 2425, 2435, 2438, 2447, 2474, 2481, 2490, 2495, 2502, 2519, 2539, 2544, 2548, 2557, 2566, 2568, 2569, 2571, 2583, 2587, 2590, 2604, 2610, 2615, 2618, 2620, 2622, 2626, 2636, 2641, 2647, 2658, 2672, 2681, 2713, 2723, 2724, 2727, 2731, 2739, 2744, 2750, 2762, 2771, 2787, 2798, 2809, 2832, 2836, 2841, 2843, 2851, 2857, 2859, 2866, 2870, 2881, 2886, 2887, 2889, 2891, 2895, 2915, 2918, 2921, 2931, 2939, 2945, 2946, 2948, 2952, 2969, 2974, 2979, 2993, 3014, 3017, 3018, 3025, 3026, 3028, 3032, 3036, 3039, 3046, 3052, 3053, 3059, 3063, 3066, 3067, 3071, 3076, 3077, 3080, 3081, 3087, 3093, 3100, 3112, 3113, 3125, 3137, 3139, 3145, 3160, 3163, 3175, 3179, 3180, 3185, 3193, 3194, 3204, 3205, 3207, 3217, 3222, 3226, 3232, 3235, 3238, 3239, 3240, 3244, 3269, 3273, 3280, 3311, 3317, 3324, 3332, 3338, 3339, 3347, 3353, 3360, 3370, 3378, 3381, 3387, 3389, 3390, 3397, 3405, 3409, 3411, 3426, 3436, 3451, 3463, 3481, 3484, 3493, 3502, 3517, 3522, 3525, 3531, 3541, 3546, 3556, 3560, 3561, 3562, 3567, 3574, 3577, 3578, 3592, 3593, 3597, 3598, 3601, 3609, 3612, 3617, 3623, 3638, 3641, 3642, 3644, 3652, 3671, 3673, 3675, 3695, 3705, 3717, 3718, 3749, 3752, 3757, 3758, 3762, 3765, 3774, 3802, 3804, 3812, 3819, 3824, 3832, 3843, 3852, 3859, 3862, 3863, 3866, 3867, 3881, 3882, 3906, 3915, 3946, 3956, 3957, 3960, 3970, 4007, 4009, 4017, 4018, 4019, 4022, 4029, 4041, 4043, 4045, 4052, 4067, 4074, 4086, 4090, 4093, 4105, 4106, 4134, 4140, 4141, 4143, 4145, 4156, 4158, 4167, 4171, 4181, 4182, 4184, 4186, 4203, 4206, 4208, 4209, 4216, 4217, 4218, 4223, 4234, 4243, 4244, 4248, 4255, 4258, 4263, 4266, 4268, 4269, 4278, 4282, 4295, 4296, 4317, 4330, 4335, 4349, 4350, 4353, 4354, 4371, 4384, 4388, 4396, 4402, 4403, 4404, 4421, 4425, 4428, 4433, 4444, 4446, 4467, 4472, 4481, 4485, 4489, 4494, 4497, 4511, 4513, 4519, 4558, 4560, 4561, 4562, 4564, 4565, 4569, 4571, 4576, 4582, 4600, 4609, 4611, 4612, 4616, 4618, 4619, 4625, 4680, 4685, 4709, 4713, 4715, 4720, 4730, 4742, 4745, 4753, 4760, 4778, 4780, 4784, 4785, 4793, 4803, 4805, 4812, 4824, 4826, 4832, 4835, 4837, 4839, 4844, 4854, 4869, 4870, 4876, 4884, 4886, 4902, 4915, 4921, 4924, 4934, 4935, 4943, 4950, 4954, 4961, 4965, 4966, 4969, 4974, 4992, 5013, 5015, 5027, 5057, 5063, 5067, 5071, 5073, 5100, 5101, 5103, 5115, 5127, 5151, 5153, 5156, 5157, 5160, 5167, 5173, 5180, 5200, 5210, 5211, 5215, 5225, 5240, 5243, 5259, 5281, 5297, 5301, 5307, 5309, 5329, 5350, 5351, 5360, 5362, 5364, 5365, 5369, 5378, 5385, 5386, 5397, 5407, 5412, 5415, 5426, 5428, 5432, 5441, 5445, 5456, 5463, 5467, 5479, 5483, 5494, 5507, 5508, 5514, 5516, 5527, 5532, 5547, 5551, 5552, 5557, 5560, 5571, 5579, 5586, 5600, 5607, 5609, 5620, 5623, 5638, 5645, 5655, 5663, 5666, 5677, 5681, 5682, 5685, 5704, 5705, 5714, 5718, 5721, 5722, 5723, 5725, 5726, 5741, 5743, 5756, 5777, 5806, 5828, 5830, 5832, 5840, 5847, 5850, 5853, 5861, 5866, 5892, 5900, 5905, 5915, 5918, 5927, 5939, 5944, 5950, 5960, 5965, 5970, 5977, 5993, 6016, 6033, 6050, 6061, 6064, 6070, 6096, 6100, 6103, 6108, 6114, 6126, 6134, 6135, 6136, 6148, 6152, 6170, 6171, 6180, 6184, 6187, 6198, 6204, 6205, 6210, 6217, 6232, 6236, 6238, 6239, 6242, 6246, 6258, 6266, 6279, 6281, 6282, 6284, 6285, 6293, 6296, 6302, 6305, 6312, 6321, 6322, 6342, 6349, 6357, 6367, 6370, 6388, 6393, 6401, 6405, 6416, 6419, 6427, 6438, 6462, 6463, 6464, 6470, 6482, 6504, 6506, 6517, 6532, 6590, 6609, 6617, 6623, 6627, 6633, 6637, 6638, 6640, 6653, 6654, 6662, 6688, 6729, 6731, 6733, 6734, 6741, 6742, 6751, 6757, 6759, 6771, 6782, 6786, 6810, 6827, 6835, 6851, 6856, 6862, 6865, 6866, 6870, 6886, 6894, 6895, 6909, 6913, 6914, 6922, 6924, 6938, 6956, 6963, 6966, 6971, 6978, 6981, 6982, 6988, 6992, 6993, 6998, 7004, 7015, 7019, 7023, 7029, 7071, 7074, 7096, 7097, 7101, 7104, 7107, 7111, 7114, 7120, 7131, 7153, 7156, 7172, 7173, 7192, 7194, 7198, 7205, 7209, 7210, 7215, 7242, 7248, 7257, 7283, 7301, 7323, 7327, 7351, 7362, 7375, 7378, 7380, 7386, 7398, 7399, 7401, 7403, 7405, 7409, 7411, 7431, 7436, 7441, 7443, 7449, 7450, 7475, 7493, 7511, 7518, 7529, 7536, 7538, 7544, 7555, 7556, 7572, 7587, 7590, 7600, 7608, 7613, 7618, 7624, 7641, 7644, 7654, 7670, 7678, 7682, 7683, 7688, 7691, 7696, 7697, 7705, 7707, 7720, 7760, 7764, 7772, 7774, 7786, 7789, 7792, 7798, 7805, 7813, 7818, 7820, 7827, 7839, 7848, 7858, 7859, 7868, 7873, 7878, 7882, 7896, 7897, 7899, 7905, 7920, 7926, 7927, 7939, 7951, 7971, 7979, 7980, 7989, 7991, 8010, 8025, 8029, 8031, 8033, 8034, 8037, 8046, 8048, 8063, 8068, 8069, 8070, 8071, 8075, 8084, 8091, 8101, 8104, 8111, 8130, 8134, 8137, 8149, 8156, 8159, 8161, 8166, 8169, 8191, 8192, 8196, 8201, 8214, 8217, 8220, 8221, 8232, 8233, 8235, 8239, 8243, 8252, 8255, 8258, 8259, 8265, 8277, 8278, 8280, 8294, 8297, 8310, 8311, 8319, 8334, 8348, 8366, 8371, 8381, 8383, 8393, 8394, 8399, 8401, 8403, 8408, 8415, 8426, 8435, 8440, 8442, 8448, 8460, 8463, 8466, 8493, 8505, 8507, 8508, 8511, 8523, 8538, 8553, 8569, 8571, 8581, 8593, 8595, 8601, 8602, 8615, 8622, 8639, 8640, 8654, 8673, 8675, 8677, 8679, 8689, 8695, 8701, 8704, 8706, 8708, 8712, 8721, 8725, 8741, 8749, 8750, 8760, 8767, 8768, 8769, 8770, 8779, 8789, 8803, 8806, 8809, 8811, 8827, 8832, 8835, 8837, 8857, 8860, 8862, 8864, 8869, 8876, 8880, 8884, 8899, 8912, 8918, 8924, 8932, 8944, 8945, 8952, 8955, 8957, 8989, 9011, 9013, 9030, 9031, 9039, 9042, 9046, 9060, 9076, 9079, 9083, 9089, 9112, 9113, 9120, 9142, 9143, 9147, 9157, 9164, 9172, 9195, 9222, 9257, 9269, 9281, 9286, 9290, 9295, 9303, 9306, 9312, 9322, 9325, 9343, 9344, 9345, 9346, 9358, 9359, 9362, 9374, 9381, 9383, 9390, 9400, 9402, 9423, 9432, 9434, 9435, 9436, 9445, 9450, 9461, 9464, 9470, 9477, 9479, 9481, 9486, 9495, 9504, 9510, 9532, 9535, 9540, 9542, 9558, 9559, 9571, 9580, 9582, 9584, 9591, 9593, 9597, 9601, 9615, 9623, 9635, 9641, 9644, 9645, 9652, 9660, 9670, 9679, 9683, 9684, 9691, 9694, 9695, 9699, 9722, 9724, 9727, 9728, 9742, 9746, 9747, 9751, 9754, 9768, 9771, 9786, 9806, 9823, 9825, 9833, 9841, 9843, 9845, 9850, 9852, 9863, 9870, 9889, 9897, 9901, 9914, 9925, 9941, 9942, 9947, 9948, 9958, 9961, 9963, 9968, 9972, 9974, 9985, 9991, 9992, 9994, 9999, 10002, 10006, 10011, 10020, 10022, 10023, 10025, 10053, 10059, 10062, 10100, 10102, 10104, 10115, 10118, 10121, 10153, 10159, 10167, 10177, 10199, 10207, 10211, 10212, 10222, 10225, 10230, 10233, 10234, 10238, 10244, 10246, 10251, 10258, 10265, 10277, 10281, 10283, 10299, 10303, 10307, 10311, 10316, 10320, 10322, 10332, 10335, 10339, 10349, 10352, 10355, 10357, 10363, 10367, 10371, 10372, 10388, 10394, 10397, 10401, 10406, 10412, 10430, 10433, 10434, 10437, 10446, 10447, 10448, 10459, 10465, 10470, 10473, 10497, 10507, 10514, 10519, 10520, 10523, 10524, 10526, 10554, 10574, 10580, 10582, 10585, 10599, 10602, 10611, 10617, 10619, 10621, 10626, 10630, 10634, 10639, 10644, 10647, 10656, 10663, 10678, 10679, 10683, 10696, 10708, 10725, 10734, 10737, 10745, 10746, 10750, 10753, 10757, 10763, 10785, 10787, 10791, 10792, 10811, 10812, 10827, 10832, 10833, 10834, 10840, 10843, 10851, 10858, 10860, 10866, 10867, 10869, 10870, 10876, 10885, 10892, 10911, 10913, 10928, 10937, 10945, 10953, 10958, 10961, 11003, 11004, 11010, 11015, 11021, 11024, 11032, 11036, 11039, 11056, 11061, 11065, 11067, 11072, 11083, 11086, 11093, 11100, 11112, 11130, 11144, 11160, 11169, 11170, 11176, 11186, 11195, 11198, 11206, 11212, 11223, 11240, 11254, 11263, 11267, 11270, 11272, 11273, 11294, 11300, 11306, 11310, 11314, 11320, 11327, 11341, 11344, 11347, 11349, 11357, 11377, 11379, 11388, 11404, 11406, 11412, 11415, 11421, 11423, 11428, 11450, 11452, 11465, 11469, 11479, 11500, 11519, 11527, 11530, 11533, 11537, 11541, 11559, 11567, 11570, 11573, 11588, 11591, 11593, 11596, 11599, 11600, 11604, 11622, 11627, 11637, 11642, 11660, 11662, 11671, 11682, 11683, 11688, 11702, 11728, 11730, 11732, 11738, 11758, 11762, 11764, 11769, 11773, 11782, 11796, 11801, 11805, 11806, 11823, 11836, 11841, 11857, 11869, 11873, 11885, 11895, 11902, 11909, 11913, 11920, 11924, 11939, 11957, 11958, 11959, 11961, 11964, 11965, 11967, 11969, 11975, 11988]

In [8]:
print(len(adopted_user) / len(users) * 100)

18.157089425365523

About 18% of users are considered adopted users.

## Identify Factors that Predict Future User Adoption

In [9]:
# Map the adopted user information back to the user data frame.
df_users['is_adopted_user'] = df_users['object_id'].apply(lambda x: x in adopted_user)
df_users.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,is_adopted_user
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0,False
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,True
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0,False
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0,False
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0,False

In [10]:
df_users = df_users[['object_id', 'creation_time', 'creation_source', 'opted_in_to_mailing_list', 'enabled_for_marketing_drip', 'is_adopted_user', 'org_id']]
df_users.head()

,object_id,creation_time,creation_source,opted_in_to_mailing_list,enabled_for_marketing_drip,is_adopted_user,org_id
0,1,2014-04-22 03:53:30,GUEST_INVITE,1,0,False,11
1,2,2013-11-15 03:45:04,ORG_INVITE,0,0,True,1
2,3,2013-03-19 23:14:52,ORG_INVITE,0,0,False,94
3,4,2013-05-21 08:09:28,GUEST_INVITE,0,0,False,1
4,5,2013-01-17 10:14:20,GUEST_INVITE,0,0,False,193

In [11]:
# fix data types
df_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 7 columns):
object_id                     12000 non-null int64
creation_time                 12000 non-null object
creation_source               12000 non-null object
opted_in_to_mailing_list      12000 non-null int64
enabled_for_marketing_drip    12000 non-null int64
is_adopted_user               12000 non-null bool
org_id                        12000 non-null int64
dtypes: bool(1), int64(4), object(2)
memory usage: 574.3+ KB

In [12]:
df_users['creation_time'] = pd.to_datetime(df_users['creation_time'])
df_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 7 columns):
object_id                     12000 non-null int64
creation_time                 12000 non-null datetime64[ns]
creation_source               12000 non-null object
opted_in_to_mailing_list      12000 non-null int64
enabled_for_marketing_drip    12000 non-null int64
is_adopted_user               12000 non-null bool
org_id                        12000 non-null int64
dtypes: bool(1), datetime64[ns](1), int64(4), object(1)
memory usage: 574.3+ KB

In [13]:
df_users = pd.get_dummies(df_users, columns = ['creation_source'])
df_users.head()

,object_id,creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,is_adopted_user,org_id,creation_source_GUEST_INVITE,creation_source_ORG_INVITE,creation_source_PERSONAL_PROJECTS,creation_source_SIGNUP,creation_source_SIGNUP_GOOGLE_AUTH
0,1,2014-04-22 03:53:30,1,0,False,11,1,0,0,0,0
1,2,2013-11-15 03:45:04,0,0,True,1,0,1,0,0,0
2,3,2013-03-19 23:14:52,0,0,False,94,0,1,0,0,0
3,4,2013-05-21 08:09:28,0,0,False,1,1,0,0,0,0
4,5,2013-01-17 10:14:20,0,0,False,193,1,0,0,0,0

In [14]:
# We should also fix missing values. As there are not any missing values here, let's skip this step.
# In addition, we should also fix outliers, if applicable.

In [15]:
# Applied logistic regression with penalized L1 regularization to select features.
from sklearn.linear_model import LogisticRegression

possible_features = ['opted_in_to_mailing_list',
                     'enabled_for_marketing_drip',
                     'creation_source_GUEST_INVITE',
                     'creation_source_ORG_INVITE',
                     'creation_source_PERSONAL_PROJECTS',
                     'creation_source_SIGNUP',
                     'creation_source_SIGNUP_GOOGLE_AUTH']
X = df_users[possible_features]
y = df_users['is_adopted_user']

for C in [1.0, 0.5, 0.1, 0.01]:
    clf = LogisticRegression(C = C, penalty = 'l1', tol = 0.01, solver = 'saga')
    clf.fit(X, y)
    coef = clf.coef_.ravel()
    print(coef)

[ 0.05296418  0.00425654  0.19625971 -0.08617218 -0.65485385 -0.00220979
  0.20775786]
[ 4.55240910e-02  1.26044253e-04  1.93521272e-01 -8.44295592e-02
 -6.48076570e-01  0.00000000e+00  1.99844046e-01]
[ 0.02068429  0.00333954  0.16374602 -0.06768551 -0.59788032  0.00130011
  0.15935844]
[ 0.          0.          0.          0.         -0.09037984  0.
  0.        ]

## Conclusion

Based on the above logistic regression results, we can conclud that 'opted_in_to_mailing_list', 'creation_source_GUEST_INVITE' & 'creation_source_SIGNUP_GOOGLE_AUTH' seem to be best features, which means that users who opted into the mailing liast and users who are invited by other users or using Google Authentication to sign up are the best features.